*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Spartan' ,sans-serif;
}
 h1{
    font-size: 6.6vr;
    line-height: 6.6vr;
    color:#222;
 }
 h2{
    font-size: 46px;
    line-height: 54px;
    color:#222;
 }
 h4{
    font-size: 20px;
    color: #222;

 }
 h6{
    font-weight: 700;
    font-size: 12px;
 }
 p{
    font-size: 16px;
    color: #465b52;
    margin: 15px 0 20px 0;
 }
 .section-p1{
    padding: 40px 80px;
 }
 .section-m1{
margin: 40px 0;
 }
 body{
    width: 100%;
    background-image: url("Untitled design.png") ;
 }

#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px ;
    background-color: #000000 ;
    box-shadow: 0 5px 15px rgba(0,0,0, 0.06);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
    
}
#header h3{
    color: rgb(255, 251, 0);
    text-align: left;
    font-size: 5vw;
    font-weight: bold;
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

#navbar li {
    padding: 0 20px;
}


#navbar a {
    text-decoration: none;
    font-size: 1.65vh;
    font-weight: 600;
    color: rgb(255, 251, 0);
}

#navbar a:hover {
    color: rgb(75, 93, 214);
}

.menu-icon {
    display: none; /* Hide the menu icon by default on larger screens */
    font-size:20px;
    cursor: pointer;
}

@media only screen and (max-width: 768px) {
    .menu-icon {
        display: block; /* Show the menu icon on smaller screens */
    }

    #navbar {
        display: none; /* Hide the menu items by default on smaller screens */
        flex-direction: column;
        align-items: center;
    }

    #navbar.active {
        display: flex; /* Show the menu items when the menu icon is clicked */
    }
}

#navbar li.dropdown:hover .dropdown-content {
    display: block;
}

#navbar li a:hover,
#navbar li a.active {
    color: #ffffff;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #000000;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    display: block;
    text-decoration: none;
}

.dropdown-content a:hover {
    background-color: #ddd;
}


#feature .feature-box{
    width:180px;
    text-align: center;
    padding: 25px 15px ;
    box-shadow: 20px 20px 34px rgba(0,0,0, 0.03);
    border: 1px solid #e3e6f3;
    border-radius: 4px;
    margin: 15px 0;
}
#card-container {
    width: 70vw;
    height: 120vw;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}

#card {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    background-color: #000000;
    text-align: center;
    overflow: hidden;
    position: relative;
    transition: transform 0.5s;
    
}


#card-content {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
#card h3{
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    
}
#card-content ul{
    line-height: 1.7;
    font-size: 26px;
}


#card h1 {
    color: rgb(255, 251, 0);
    padding-top: 85px;
    padding-left: 35px;
    padding-right: 35px;
    font-size: 83px;
    font-weight: bold;
    text-align: center;
}

#card div{
    color: rgb(255, 251, 0);
    padding-left: 35px;
    padding-right: 35px;
    font-size: 20px;
    font-weight: bold;
    text-align: justify;
    line-height: 1.6;
}

#card button {
    padding: 2% 20%;
    background-color: rgb(255, 251, 0);
    font-size:30px;
    font-weight: bolder;
    border-radius: 20px;
    
    width: 100%;
}
#card a{
    text-decoration: none;
    color: rgb(0, 0, 0);
}

button.white{
    font-size: 14px;
    font-weight: 600;
    padding: 15px 18px;
    color: #f8f7f7;
    background-color:transparent;
    cursor: pointer;
    border: 1px solid #fff;
    outline: none;
    transition: 0.2s;
}

.bluestrip{
    background-color: rgb(0, 0, 0);
    position: fixed;
    bottom: 0;
    text-align: center;
    width: 100%;
    
}
.bluestrip h2{
    text-align: center;
    color: rgb(255, 251, 0);
}
.bluestrip p{
    text-align: center;
    color: rgb(255, 251, 0);
}

#heading_custom1{
    color: rgb(255, 251, 0);
    text-align: center;
    text-underline-offset: 1px;
    font-style: italic;
}
footer{
    display: flex; 
    flex-wrap: wrap;
    justify-content: space-between;
}
footer .col{
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    margin-bottom: 20px ;
}
footer  .logo{
    margin-bottom: 30px;
}
footer h4{
    font-size: 14px;
    padding-bottom: 20px;
}
footer p{
    font-size: 13px;
    margin: 0 0 8px 0;
}
footer a{

    font-size: 14px;
    text-decoration: none;
    margin:  0 0 8px 0;
    color: #1a1a1a;
    margin-bottom: 10px;
}
footer .appreciate{
    margin-top:20px;
    padding-top:60px ;
}
footer .appreciate img{
    margin: 10px 0 15px 0;
    border-radius:6px;
    border:1px solid #088178
}
footer .column :hover {
    color: #088178;
}
footer .column{
    padding-top: 80px; 
    text-align: justify;
}
#list{
    list-style-type: disc;
    margin: 10px 0;
}
footer .column .margine{
    margin-bottom: 12px;
}
footer .col{
    margin-bottom: 4px;
}


